
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color,hsl(222, 26%, 31%) );
  color: var(--color-numbers, hsl(221, 14%, 31%));
  font-family: 'Spartan', sans-serif;

}
.container{

  width: 470px;
  height:  560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 32px;
}
.parts{

  width: 95%;
  border-radius: 9px;
}



.header{
  color: var(--header-text, white);
  display: flex;
  justify-content: space-between;
  height: 10%;
  align-items: center;

}
.header-left{

}

.theme{
  font-size: 16px;
  margin-top: 20px;
  margin-right: 20px;
}
.toggle-section{
display: flex;

}
.toggle-numbers{
  position: relative;

}
.toggle-num{
  height: 100%;
}
span{
  cursor: pointer;
  position: relative;
  width: 15px;
  height: 100%;
  display: inline-block;
  font-size: 16px;
  z-index: 2;
}
.toggle{
  width: 65px;
  height: 20px;
  border-radius: 15px;
  position: absolute;
  bottom: 10px;
  left: -3px;
  background-color: var(--toggle-background-color, hsl(223, 31%, 20%));

}

.toggle-btn{
  margin: 1px 0;
  height: 85%;
  width:18px;
  background-color: var(--toggle-color, hsl(6, 63%, 50%));
  border-radius: 50%;
  position: absolute;


}
.toggle-1{left:0px}
.toggle-2{left:21px}
.toggle-3{right: 0px}



.calc-screen{
  text-align: right;

  height: 17%;
  background-color: var(--screen-color, hsl(224, 36%, 15%));
  color: var(--screen-text-color,white);
}
.calc-screen p{
  margin-right: 20px;
}
.keypad{

  height: 70%;
  background-color: var(--keypad-color, hsl(223, 31%, 20%));
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: repeat(5, 15%);
  grid-gap: 3%;
  justify-content: center;
  align-content: center;
}
.btn{
cursor: pointer;
background-color: var(--btn-color, hsl(30, 25%, 89%));
border-radius:  7px;
display: flex;
justify-content: center;
align-content: center;
align-items: center;
height: 90%;
box-shadow: 0 4px 0 var(--btn-shadow, hsl(28, 16%, 65%));
}
.reset{

  grid-column: 1 / 3;
  background-color: var(--del-reset-color, hsl(225, 21%, 49%));
  box-shadow: 0 4px 0 var(--del-reset-shadow, hsl(224, 28%, 35%));
  color: white;
  font-size: 22px;
}
.del{

  background-color: var(--del-reset-color, hsl(225, 21%, 49%));
  box-shadow: 0 4px 0 var(--del-reset-shadow, hsl(224, 28%, 35%));
  color: White;
  font-size: 22px;
}
.equal{

  grid-column: 3 / 5 ;
  background-color: var(--equal-color, hsl(6, 63%, 50%));
  box-shadow: 0 4px 0 var(--equal-shadow, hsl(6, 70%, 34%));
  color: White;
}
@media (max-width:490px) {
  .container{
    width: 100vw;
    height: 100vh;
  }

}
